.fade-move,
.fade-enter-active,
.fade-leave-active {
  transition: opacity $transition-delay ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-leave-active {
  position: absolute;
}

// 左进右出滑动渐变
.slideInOut-enter-active {
  animation: fadeInLeft $transition-delay $animate-cubic;
}
.slideInOut-leave-active {
  animation: fadeInLeft $transition-delay $animate-cubic reverse;
}
// popup从大到小
.popup-enter-to,
.popup-leave-from {
  transition: calc($transition-delay / 2);
  transform: scale(1);
  opacity: 1;
  transition-timing-function: $animate-cubic-bount;
}
.popup-enter-from,
.popup-leave-to {
  transform: scale(0.95);
  opacity: 0;
  transition: calc($transition-delay / 2);
}

// popover上下突出
.popY-enter-active,
.popY-leave-active {
  transition: all $transition-delay $animate-cubic;
  transform: scaleY(1);
  transform-origin: bottom;
}

.popY-enter-from,
.popY-leave-to {
  overflow: hidden;
  transform: scaleY(0.6);
  transform-origin: bottom;
  opacity: 0;
  transition: all $transition-delay $animate-cubic;
}

// fade-in-out
.fadeInOut-enter-active {
  animation: 0.2s fadeIn;
}
.fadeInOut-leave-active {
  animation: 0.2s fadeIn reverse;
}

@keyframes fade-in-out {
  0% {
    position: absolute;
    transition: 0.3s;
    width: 100%;
    opacity: 0;
  }
  100% {
    position: absolute;
    transition: 0.3s;
    width: 100%;
    opacity: 1;
  }
}

.animate__animated {
  animation-duration: $transition-delay;
}

// 关闭所有动画渐变保证变化的流畅
html.stop-transition {
  * {
    transition: none !important;
    filter: none !important;
    backdrop-filter: none !important;
    // background: inherit ！important
    // background: none !important;
  }
}
html.stop-transition-all {
  * {
    transition: none !important;
  }
}

// 夜间模式切换动画
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  transition: none !important;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 9999;
}
::view-transition-new(root) {
  z-index: 1;
}
.dark::view-transition-old(root) {
  z-index: 1;
}
.dark::view-transition-new(root) {
  z-index: 9999;
}

.page-fade-enter-active {
  animation: 0.4s fade-in-out;
}
.page-fade-leave-active {
  animation: 0.4s fade-in-out reverse;
}
@keyframes fade-in-out {
  0% {
    position: absolute;
    transition: $transition-delay;
    opacity: 0;
    filter: blur(4px);
  }
  100% {
    position: absolute;
    transition: $transition-delay;
    filter: blur(0px);
    opacity: 1;
  }
}

.animate__blurIn {
  animation: $transition-delay fade-in-out;
}
.animate__fadeIn {
  animation: $transition-delay fade-in-out;
}

@keyframes blur-in {
  0% {
    transition: $transition-delay;
    opacity: 0.8;
    filter: blur(2px);
  }
  100% {
    transition: $transition-delay;
    filter: blur(0px);
    opacity: 1;
  }
}

/* 颜色 */
:root {
  --text-mark-color1: #7c51fb;
  --text-mark-color2: #ffbc0d;
  --text-mark-color3: #dc284d;
}

/* 可视范围 */
.animate-ob,
.animatejs {
  animation-play-state: paused;
  animation-duration: 1s;
}

.animateStart {
  animation-play-state: running;
}

/* 画字特效 */
.mark1,
.mark2,
.mark3 {
  background-color: transparent;
  color: inherit;
  background-image: linear-gradient(var(--text-mark-color), var(--text-mark-color));
  background-repeat: no-repeat;
  background-size: 0% 36%;
  background-position: 0% 100%;
}

.mark2 {
  background-image: linear-gradient(var(--text-mark-color2), var(--text-mark-color2));
}

.mark3 {
  background-image: linear-gradient(var(--text-mark-color3), var(--text-mark-color3));
}

.mark1.animate,
.mark2.animate,
.mark3.animate {
  animation: 1s sliceHightLight ease-in-out forwards;
}

/* 背景颜色滑动 */
@keyframes sliceHightLight {
  to {
    background-size: 100% 36%;
  }
}

/* 变换边框 */
@keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

.fadeInOut {
  animation: fadeIn 0.24s ease-in-out;
}
// item动画
.item-list-move,
.item-list-enter-active,
.item-list-leave-active {
  transition: all 0.4s $animate-cubic-bount;
}

.item-list-enter-from,
.item-list-leave-to {
  opacity: 0;
  filter: blur(2%);
  transform: translateX(20%);
}

.item-list-leave-active {
  position: absolute;
  z-index: -1;
}

// group动画
.group-list-move,
.group-list-enter-active,
.group-list-leave-active {
  transition: all 0.4s $animate-cubic-bount;
}

.group-list-enter-from,
.group-list-leave-to {
  opacity: 0;
}

.group-list-leave-active {
  position: absolute;
  z-index: -1;
}

// 放大消失动画
.scale-pop-move,
.scale-pop-enter-active,
.scale-pop-leave-active {
  transform: scale(1);
  transition: all 0.4s $animate-cubic-bount;
}

.scale-pop-enter-from,
.scale-pop-leave-to {
  transform: scale(1.04);
  opacity: 0;
}

.scale-pop-leave-active {
  position: absolute;
  z-index: -1;
}
// fade动画
.fade-bt-list-move,
.fade-bt-list-enter-active,
.fade-bt-list-leave-active {
  transition: 0.3s ease-in-out;
}

.fade-bt-list-enter-from {
  opacity: 0;
  transform: translateY(30%);
}
.fade-bt-list-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translateY(30%);
}

.fade-bt-list-leave-active {
  position: absolute;
  z-index: -1;
}
//  scale
.filp-scale-list-move,
.filp-scale-list-enter-active,
.filp-scale-list-leave-active {
  transition: 0.4s ease;
}

.filp-scale-list-enter-from,
.filp-scale-list-leave-to {
  opacity: 0;
  transform: scaleY(0.01) rotateX(90deg);
}

.filp-scale-list-leave-active {
  position: absolute;
  z-index: -1;
}

// fade动画
.fade-lr-list-move,
.fade-lr-list-enter-active,
.fade-lr-list-leave-active {
  transition: 0.4s ease;
}

.fade-lr-list-enter-from,
.fade-lr-list-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translateX(20%);
}

.fade-lr-list-leave-active {
  position: absolute;
  z-index: -1;
}

// 页面
.sliceX-enter-active,
.sliceX-leave-active {
  transform: scaleY(0.01) translateX(0);
  transition: transform $transition-delay ease-in;
}

.sliceX-enter-from,
.sliceX-leave-to {
  transform: translateX(100%);
  opacity: 0;
}

// 图标动画
// 购物车撞到背景
.hover\:animate-shopcart:hover {
  animation: shopcart 1s ease-in-out 1;
}
@keyframes shopcart {
  0% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(20%) rotate(0deg);
  }
  40% {
    transform: translate(22%) rotate(-15deg);
  }
  60% {
    transform: translateX(-10%) rotate(0deg);
  }
  100% {
    transform: translateX(0%);
  }
}

.hover\:animate-portanim:hover {
  animation: portanim 1s ease-in-out 1;
}
@keyframes portanim {
  0% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(20%);
  }
  40% {
    transform: translateX(-22%);
  }
  60% {
    transform: translateX(18%);
  }
  100% {
    transform: translateX(0%);
  }
}
